/* InboxDataTable.css */
.unread-row {
  font-weight: bold;
  background-color: #f9f9f9;
}
.p-button-selected {
  background-color: #007ad9; /* Primary blue or any color for selected state */
  color: #fff;
}

.p-button-outlined {
  border-color: #007ad9;
  color: #007ad9;
}
